version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
  cooldown:
    default-days: 7
  open-pull-requests-limit: 99
- package-ecosystem: "docker-compose"
  directory: "/"
  schedule:
    interval: weekly
  cooldown:
    default-days: 7
  open-pull-requests-limit: 99
- package-ecosystem: pip
  directory: "/requirements"
  schedule:
    interval: daily
  cooldown:
    default-days: 7
  open-pull-requests-limit: 99
