name: test_actions

services:
  base:
    image: scratch
    working_dir: /workdir
    volumes:
      - .:/workdir

  actionlint:
    extends: base
    image: rhysd/actionlint:1.7.7@sha256:887a259a5a534f3c4f36cb02dca341673c6089431057242cdc931e9f133147e9

  zizmor:
    extends: base
    image: ghcr.io/zizmorcore/zizmor:1.18.0@sha256:c5bbdb28b75702f181695d7a878e562ccb5c0a01847db87edda7476908d73dd6
    environment:
      - GH_TOKEN
